body {
  background-color:#fcdc00;
  margin: 0;
}
#header-container {
  background-color: black;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 80%;
  margin: auto;
}
#logo {
  width: 15rem;
}
a{
  color: white;
  margin: 15px;
  word-break: break-word
}
#but {
  font-size: 18px;
      color: #fcdc00;
      padding: 5px 15px;
      border: 10px solid black;
      border-radius: 0px;
      background-color: black;
      letter-spacing: 1rem;
      
    }
#cele {
  margin-top: 10%;
      margin-bottom: 0.01%;
      margin-left: 3rem;
      
    }
.history{
  margin: 0%;
}
h1{
  font-size: 68px;
}
h2 {
  font-size: 44px;
  
}
span{
  font-style: italic;
  letter-spacing: -3px;
  font-family: 'PS Commons Extra Bold';
}
small {
  font-size: 15px;
  font-family: 'PS Commons';
  font-style: italic;
  letter-spacing: 0.1rem;
  
}
#quest{
  text-align: center;
}
h3{
  font-family: sans-serif;
  font-size: 24px;
  letter-spacing: -2px;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
h4{
  font-size: 1rem;
  font-family: monospace;
  margin-left: 10rem;
  margin-right: 10rem;
  font-weight: 200;
}
input{
  padding: 1rem 20rem;
  margin-bottom: 6rem;
  background-color: black;
border: black;
}
input:hover{
    cursor: pointer;
    color: white;
}
.butt{
  font-size: 18px;
  color: white;
  padding: 5px 5px;
  border: 10px solid #ec008c;
  border-radius: 0px;
  background-color: #ec008c;
  margin-bottom: 6rem
}
.butt:hover {
  cursor: pointer;
  color: black;
  filter: blur(1px);
  transition: box-shadow .3s cubic-bezier(0.39, -0.58, 0.43, 1);
}

.demand{
  background-color: black;
  color: #fcdc00;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  text-align: left;
  margin-left: 0.2rem;
}
.sess{
  margin-top: 0;
  display: inline-block;
}
h5{
  font-size: 15px;
    line-height: 1.4;
    font-weight: 100;
    margin-left: 1rem;
}
.watch{
  margin-left: 25rem;
  color: white;
  background-color: black;
  padding: 10px 40px;
  line-height: 1.4;
  border: black;
}
.watch:hover{
  cursor: -webkit-grabbing;
  background-color: white ;
  color: black;
}
.session{
  margin-bottom: 3rem;
}
.sideb{
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.details-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
}
.event{
  border-bottom: 0.5px solid black;
  margin: 3rem;
}
.events{
  border-bottom: 0.5px solid black;
  margin: 3rem;
}
#strong{
  text-align: center;
}
#footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 80%;
  margin: auto;
  text-decoration: none;
}
.divide{
  color: #eee;
    margin-left: 10px;
    font-size: 12px;
}
a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}