body {
  background-color: yellow;
  margin: 0;
}
#header-container {
  background-color: black;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 80%;
  margin: auto;
}
#logo {
  width: 15rem;
}
a{
  color: white;
  margin: 15px;
}
button {
  font-size: 18px;
      color: yellow;
      padding: 5px 15px;
      border: 10px solid black;
      border-radius: 0px;
      background-color: black;
      letter-spacing: 1rem;
      
    }
#cele {
  margin-top: 10%;
      margin-bottom: 0.01%;
      margin-left: 3rem;
      
    }
.history{
  margin: 0%;
}
h1{
  font-size: 68px;
}
h2 {
  font-size: 44px;
  
}
span{
  font-style: italic;
  letter-spacing: -3px;
  font-family: 'PS Commons Extra Bold';
}
small {
  font-size: 27px;
  font-family: 'PS Commons';
  font-style: italic;
  letter-spacing: 0.1rem;
  
}
#quest{
  text-align: center;
}
h3{
  font-family: sans-serif;
  font-size: 24px;
  letter-spacing: -2px;
  margin-top: 5rem;
}
h4{
  font-size: 1rem;
  font-family: monospace;
  margin-left: 10rem;
  margin-right: 10rem;
  font-weight: 200;
}
input{
  padding: 1rem 20rem;
  margin-bottom: 10rem;
  background-color: black;
border: black;
}
input:hover{
    cursor: pointer;
    color: white;
}

